
<div fxLayout="column" class="about-container">


  <div fxFlex>
    <!-- Title -->
    <h2 class="center">The Nodebucket Project</h2>
  </div>


<div fxFlex fxLayout="column">
<div>
  <p> </p>


    <!-- about nodebucket  -->

    <div class="about">
      <p>

        Nodebucket was developed as part the web-450 class taught by Richard Krasso at Bellevue University. Nodebucket is a
        task management web app that allows you to keep track of your daily tasks. This easy to use app consists of two columns:
        todo and done. You can add tasks to keep track of your todo items and drag them to the done column as you complete them.
        The tasks can be moved vertically to organize them based on priority. All of this wrapped in an user-friendly interface developed by yours truly.
      </p>
      <p>
        To add a task, simply click on the add task button. To remove a task, simply click on the ellipse and select the remove option.
        And, organize the tasks based on priority, simply drag them vertically. After you have completed a task, you can drag it by holding down the mouse on
        desktops and pressing down on the task on a mobile device. Then, drop it on the done column. The app functionality has been tested both manually
        and with the use of SOAPUI. Nodebucket was created using the MEAN stack (MongoDB, Express, Angular, and Node.js). The front-end was developed using Angular, design material, CSS and HTML.
        Nodebucket sits on Heroku's cloud and was written using Visual Studio Code.
      </p>
      <p> </p>

      <p> </p>


    </div>

  </div>
